<main>

  <!-- Header de la pagina -->
  <header
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
  >
    <div class="container-xl px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">

          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon">
                <i data-feather="file-text"></i>
              </div>
              Dashboard
            </h1>
          </div>

          <div class="col-12 col-xl-auto mb-3">
            Optional page header content
          </div>

        </div>
      </div>
    </div>
  </header>

  <!-- Main page content -->
  <div class="container-xl px-4 mt-4">
    <div class="card">
      <div class="card-header">Dashboard</div>
      <div class="card-body">
        Esto es el dashboard principal
      </div>
    </div>
  </div>
</main>
